*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

h1{
    font-size: 32pt;
    margin-bottom: 32px;
}


.checkbox{
    display: flex;
    justify-content: center;
}

.checkbox-inputs{
    display: flex;
    width: 300px;
    margin-bottom: 32px;
}

.checkbox-inputs-left{
    text-align: start;
    width: 150px;
}

.checkbox-inputs-right{
    text-align: end;
    width: 150px;
}

.cards{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.card-left,
.card-right{
    width: 150px;

}

.card-left{
    text-align: start;
}

.card-right{
    text-align: end;
}

.select-right,
.select-left{
    width: 80px;
    height: 24px;
    border: 1px solid 919090;
}

.value{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.value-left input{

    width: 300px;
    height: 80px;
    margin-bottom: 32px;
    border: 1px solid #919090;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-size: 16pt;
}

.value-left input:focus{
    border: 1px solid green;
}

.value-right input{
    width: 150px;
    height: 40px;
}

.value-right-textarea{
    resize: none;
    width: 200px;
    height: 40px;
    border-radius: 8px;
}

.btn-convert{
    width: 150px;
    height: 40px;
    border: 1px solid #919090;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 32px;
    font-size: 12pt;
    background-color: green;
    color: white;
    cursor: pointer;

}

.btn-convert:hover{
    opacity: .8;
}

.btn-convert:active{
    width: 140px;
    height: 30px;
    font-size: 10pt;
}

.link{
    margin-top: 32px;
}

.link a{
    color: black;
}